.App {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.List {
  display: flex;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
}

.List-header {
  display: flex;
  align-items: center;
}

.List-note {
  width: 30%;
  text-align: left;
}

.TodoAdd {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto
}

.TodoAdd-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem
}

.TodoAdd-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #0b5468;
  font-weight: 700;
  color: white;
  border: none
}